---
layout: base.njk
title: Home
---

<h1>📚 Welcome to the Training Hub</h1>

<p>Select a section below:</p>

<ul>
  <li><a href="{{ '/training/upcoming.html' | url }}">📅 Trainings</a></li>
  <li><a href="{{ '/incentives/incentives.html' | url }}">🎁 Incentives</a></li>
  <li><a href="{{ '/trainers_hub/trainers.html' | url }}">🧑‍🏫 Trainer Hub</a></li>
  <li><a href="{{ '/events/events.html' | url }}">🛠 Developer Page</a></li>
</ul>
