---
layout: base.njk
title: Main Page
---

<h1>📚 Welcome to the Training Hub</h1>

<p>Select a section below:</p>

<ul>
  <li><a href="{{ '/training/upcoming.html' | url }}">📅 Trainings</a></li>
  <li><a href="{{ 'incentives.html' | url }}">🎁 Incentives</a></li>
  <li><a href="{{ 'trainers.html' | url }}">🧑‍🏫 Trainer Hub</a></li>
  <li><a href="{{ 'events.html' | url }}">🛠 Developer Page</a></li>
</ul>
